<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>

    <nav class="navbar-lewagon">
      <%= link_to "Homepage", cocktails_path, class: "nav-btn" %>
      <%= link_to "Add New Cocktail", new_cocktail_path, class: "nav-btn" %>
    </nav>
    <div class="background-img">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
